{# Cargar todos los archivos estaticos #}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<body>
    <head>
        <meta charset="UTF-8">
        <title>Pagina</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <script type="text/javascript" src="{% static "js/jquery-3.1.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
        <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
        <link rel="stylesheet" href={% static 'style.css' %}>
    </head>
    <header>
          <script>
            (function poll() {
                setTimeout(function() {
                    $.ajax({
                        url: '/notificaciones/',
                        type: "GET",
                        success: function(json) {
                            console.log(json);
                            alert( json['vencimiento_recordatorios'] + json['vencimiento_metas'] + '  ' + json['vencimiento_submetas'] + '  ')
                        },
                        dataType: "json",
                        complete: poll,
                        timeout: 20300
                    })
                }, 17000); // 1000 = 1 SEGUNDO PARA DEBUGGING LO DEJO EN 1 MINUTO.. EN REALIDAD LO CORRECTO SERIA ENTRE 20 Y 40 MINUTOS
            })();

            </script>

          <script>
            (function poll() {
                setTimeout(function() {
                    $.ajax({
                        url: '/recordatorio_instantaneo/',
                        type: "GET",
                        success: function(json) {
                            console.log(json);
                            alert( 'RECORDATORIO'+json['vencimiento_recordatorios'] +  '  ')
                        },
                        dataType: "json",
                        complete: poll,
                        timeout: 20000
                    })
                }, 3000); // 1000 = 1 SEGUNDO PARA DEBUGGING LO DEJO EN 1 MINUTO.. EN REALIDAD LO CORRECTO SERIA ENTRE 20 Y 40 MINUTOS
            })();

            </script>

        <br>
        <div class="container">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Menu</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="hidden-xs">
                            <a class="navbar-brand" href="#">Goal Set Tracker</a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Buscar en el sitio">
                            </div>
                            <button type="submit" class="btn btn-default">Buscar</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/logout/">Logout</a></li>
                      <li><a href="{% url 'ver_notificaciones' %}">Ver Notificaciones</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                    Perfil <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'editar_perfil' %}">Editar Perfil</a></li>
                                    <li><a href="{% url 'perfil' %}">Ver Perfil</a></li>
                                    <li><a href="#">Eliminar Perfil</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row row-centered">
            <div class="col-xs-12 col-sm-8 col-md-9">
                <img src="http://lorempixel.com/1024/200" class="image-responsive class="mx-auto" style="width:100%;"/>
            </div>
        </div>    
    </div>
    <div class="main container">
        <section class="row row-centered">
            <section class="col-xs-12 col-sm-8 col-md-9">
                {% block content %}
                {% endblock %}
            </section>
            <aside class="hidden-xs col-sm-4 col-md-3">
                {% block sidebar %}
                    <div class="list-group">
                    </div>
                <h4>GoalSetTrack</h4>
                <p> Se el primero Gana ! Superate ! Tu puedes ! Just do IT !  </p>
                {% endblock %}
            </aside>
        </section>
    </div>
    <footer>
        <div class="container">
            <h4>Pie de pagina</h4>
        <div>
    </footer>
</body>
</html>
