{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Nuevo Recordatorio</h1>
<form method="POST">
  {% csrf_token %}
  <div class="form-group">
  {% for field in form %}
  <div>
    <label>{{ field.label }}</label>
  </div>
  <div>
    {{ field }}
  </div>
  {% endfor %}
  <br>
  <button type="submit">Enviar</button>
</form>
{% endblock %}
{% block sidebar %}
<h4>Menu</h4>
<div class="list-group">
  <a href="{% url 'crear_meta' %}" class="list-group-item">Crear submeta</a>
  <a href="{% url 'crear_categoria' %}" class="list-group-item">Crear categoria</a>
  <a href="{% url 'lista_categorias' %}" class="list-group-item">Ver categorias</a>
</div>
<h4>Ayuda</h4>
<p> Aqui va una breve explicación de cada sección. El sidebar es modificable deacuerdo a cada sección.</p>
<h4>Buscar meta</h4>
<form action="filtrar_meta" method="post">
  {% csrf_token %} 
  <input type="text" id="titulo" value="titulo" style="width:100%;">
</form>
<br>
{% endblock %}