{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Nuevo Recordatorio</h1>
<form method="POST" class="post-form">{% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="save btn btn-default">Guardar</button>
</form>
{% endblock %}
{% block sidebar %}
<h4>Menu</h4>
<div class="list-group">
  <a href="{% url 'crear_meta' %}" class="list-group-item">Crear submeta</a>
  <a href="{% url 'crear_categoria' %}" class="list-group-item">Crear categoria</a>
  <a href="{% url 'lista_categorias' %}" class="list-group-item">Ver categorias</a>
    <a href="/lista_de_metas" class="list-group-item">Listado de metas</a>
</div>
<h4>Ayuda</h4>
<p> Aqui va una breve explicación de cada sección. El sidebar es modificable deacuerdo a cada sección.</p>
<h4>Buscar meta</h4>
<form action="filtrar_meta" method="post">
  {% csrf_token %} 
  <input type="text" id="titulo" value="titulo" style="width:100%;">
</form>
<br>
{% endblock %}