{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Editar meta</h1>
<form method="POST">
  {% csrf_token %}
  <div class="form-group">
  {% for field in form %}
  <div>
    <label>{{ field.label }}</label>
  </div>
  <div>
    {{ field }}
  </div>
  {% endfor %}
  <br>
  <button type="submit" class="save btn btn-default">Guardar</button>
  </div>
</form>
{% endblock %}
{% block sidebar %}
<h4>Menu</h4>
<div class="list-group">
  <a href="/lista_de_metas" class="list-group-item">Listado de metas</a>
  <a href="{% url 'crear_comentario_submeta' pk=submeta.pk %}" class="list-group-item">Agregar comentario</a>
  <a href="{% url 'subir_archivo_submeta' pk=submeta.pk %}"class="list-group-item">Adjuntar archivo</a>
<h4>Ayuda</h4>
<p> Aqui va una breve explicación de cada sección. El sidebar es modificable deacuerdo a cada sección.</p>
<h4>Buscar meta</h4>
<form action="filtrar_meta" method="post">
  {% csrf_token %} 
  <input type="text" id="titulo" value="titulo" style="width:100%;">
</form>
<br>
{% endblock %}
