{% load staticfiles %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lista de metas filtradas</title>
    <link rel="stylesheet" type="text/css" href={% static 'css/pagina_principal.css' %}>
  </head>
  <body>
    <div class="barra-principal">
      <ul>
      <li><a href="/logout/">Logout</a></li>
      <li><a  href="{% url 'editar_perfil' %}">Configuración</a></li>
      </ul>
    </div>
    <div class="contenedor-principal">
        <div class="contenedor-izquierdo"> 
            <ul>
              {% for meta in metas%}
                <li>
                  <p>
                    <a href="{% url 'info_meta' pk=meta.pk %}">{{ meta.titulo }}</a>
                    <a class="btn btn-default" href="{% url 'editar_meta' pk=meta.pk %}">Editar</a>
                    <a href="{% url 'eliminar_meta' pk=meta.pk %}">Eliminar meta </a>
                  </p>
                </li>
              {% empty %}
                <li>No hay metas.</li>
              {% endfor %}
            </ul>
        </div>
      <div class="contenedor-derecho">
        <table class="opciones" width="100%" border=1>
          <tr>
            <td><b>OPCIONES</b></td>
          </tr>
          <tr>
            <td><a href="{% url 'crear_meta' %} ">Crear meta</a></td>
          </tr>
          <tr>
            <td><a href="{% url 'crear_categoria' %} ">Crear categoria</a></td>
          </tr>
          <tr>
            <td><a href="{% url 'lista_categorias' %} ">Ver categorias</a></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
