   <div class="meta">
            <h1>{{ meta.titulo }}</h1>
            <p>Descripción: {{ meta.descripcion }}</p>
            <p>Prioridad: {{ meta.prioridad }}</p>
            <p>Estado: {{ meta.estado }}</p>
            <p>Vence: {{ meta.fecha_vencimiento }}</p>
            <p>Comienzo: {{ meta.fecha_comienzo }}</p>
            <p>Fin: {{ meta.fecha_fin }}</p>
            <p>Creada: {{ meta.fecha_creacion }}</p>
            <p>Última Modificación: {{ meta.fecha_modificacion }}</p>

            {% for comentario in comentarios%}
            <p>Comentario: {{ comentario.texto }}</p>
                <div class="date">{{ comentario.fecha_creacion }}</div>
            </div>
            {% endfor %}
            <a href="{% url 'lista_comentarios' pk=meta.pk %}">ver comentarios</a>
            volver a <a href="/lista_de_metas">lista de metas</a>