{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Submetas de {{ meta.titulo }}</h1>
<table class="table">
  {% for submeta in submetas%}
    <tr>
      <td><a href="{% url 'info_submeta' pk=submeta.pk %}">{{ submeta.titulo }}</a></td>
      <td>{{ submeta.descripcion }}</td>
      <td><a class="btn btn-default" href="{% url 'editar_submeta' pk=submeta.pk %}">Editar</a></td>
      <td><a class="btn btn-default" href="{% url 'eliminar_submeta' pk=submeta.pk %}">Eliminar</a></td>
    </tr>
  {% empty %}
  <p>No hay submetas.</p>
  {% endfor %}
</table>
{% endblock %}
{% block sidebar %}
<h4>Menu</h4>
<div class="list-group">
  <a href="{% url 'crear_submeta' pk=meta.pk %}" class="list-group-item">Listado de metas</a>
  <a href="{% url 'crear_submeta' pk=meta.pk %}" class="list-group-item">Crear Submeta</a>
</div>
<h4>Ayuda</h4>
<p> Aqui va una breve explicación de cada sección. El sidebar es modificable deacuerdo a cada sección.</p>
<h4>Buscar meta</h4>
<form action="filtrar_meta" method="post">
  {% csrf_token %} 
  <input type="text" id="titulo" value="titulo" style="width:100%;">
</form>
<br>
{% endblock %}


