{% load staticfiles %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lista de Submetas</title>
    <link rel="stylesheet" type="text/css" href={% static 'css/pagina_principal.css' %}>
  </head>
  <body>
    <div class="barra-principal">
      <ul>
      <li><a href="/logout/">Logout</a></li>
      <li><a  href="{% url 'editar_perfil' %}">Configuración</a></li>
      </ul>
    </div>
    <div class="contenedor-principal">
        <div class="contenedor-izquierdo"> 
          <h1> Submetas de {{ meta.titulo }}</h1>
            <ul>
              {% for submeta in submetas%}
              <li>
                <p> <a href="{% url 'info_submeta' pk=submeta.pk %}">{{ submeta.titulo }}</a>
                  <a class="btn btn-default" href="{% url 'editar_submeta' pk=submeta.pk %}">Editar</a>
                  <a href="{% url 'eliminar_submeta' pk=submeta.pk %}">Eliminar submeta </a>
                </p>  
              </li>
              {% empty %}
              <li>No hay submetas.</li>
              {% endfor %}
            </ul>
        </div>
      <div class="contenedor-derecho">
        <table class="opciones" width="100%" border=1>
          <tr>
            <td><b>OPCIONES</b></td>
          </tr>
           <tr> 
            <td><a href="{% url 'crear_submeta' pk=meta.pk %} ">Crear Submeta</a></td>
          </tr> 
         <!-- <tr>
            <td><b>FILTRAR METAS POR</b></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="titulo" value="1">título</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="descripcion" value="1">descripción</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="estado" value="1">estado</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="prioridad" value="1">prioridad</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="fecha_de_creacion" value="1">fecha de creación</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="fecha_de_modificacion" value="1">fecha de modificación</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="fecha_de_comienzo" value="1">fecha de comienzo</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="fecha_de_fin" value="1">fecha de fin</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="fecha_de_vencimiento" value="1">fecha de vencimiento</td>
          </tr>
          <tr> 
            <td><b>AYUDA</b></td>
          </tr>
          <tr>
            <td>Acá va una breve desripción</td>
          </tr>
          -->
        </table>
      </div>
    </div>
  </body>
</html>
