{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <h1> Metas</h1>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

  <script>
 (function poll() {
    setTimeout(function() {
        $.ajax({
            url: '/lista_de_metas/',
            type: "GET",
            success: function(json) {
                console.log(json);
                alert('Notificacion: '+json['email'])
            },
            dataType: "json",
            complete: poll,
            timeout: 2000
        })
    }, 5000);
})();

    </script>



  <table class="table">
    {% for meta in metas%}
      <tr> 
          <td><a href="{% url 'info_meta' pk=meta.pk %}">{{ meta.titulo }}</a></td>
          <td>{{ meta.estado }}</td>
          <td>{{ meta.descripcion }}</td>
          <td><a class="btn btn-default" href="{% url 'editar_meta' pk=meta.pk %}">Editar</a></td>
          <td><a class="btn btn-default" href="{% url 'eliminar_meta' pk=meta.pk %}">Eliminar</a></td>
      </tr>
    {% empty %}
      <p>No hay metas.</p>
    {% endfor %}
  </table>
{% endblock %}
{% block sidebar %}
<h4>Menu</h4>
<div class="list-group">
  <a href="/lista_de_metas" class="list-group-item">Listado de metas</a>
  <a href="{% url 'crear_meta' %}" class="list-group-item">Crear meta</a>
  <a href="{% url 'crear_categoria' %}" class="list-group-item">Crear categoria</a>
  <a href="{% url 'lista_categorias' %}" class="list-group-item">Ver categorias</a>
</div>
<h4>Ayuda</h4>
<p> Aqui va una breve explicación de cada sección. El sidebar es modificable deacuerdo a cada sección.</p>
<h4>Buscar meta</h4>
<form action="filtrar_meta" method="post">
  {% csrf_token %} 
  <input type="text" id="titulo" value="titulo" style="width:100%;">
</form>
<br>
{% endblock %}
