{% load staticfiles %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lista de metas</title>
    <link rel="stylesheet" type="text/css" href={% static 'css/pagina_principal.css' %}>
  </head>
  <body>
    <div class="barra-principal">
      <ul>
      <li><a href="/logout/">Logout</a></li>
      <li><a href="#configuracion">Configuración</a></li>
      <li><a href="#buscar">Buscar</a><input type="text" name="buscar"></li>
      </ul>
    </div>
    <div class="contenedor-principal">
      <div class="contenedor-izquierdo">
        <table class="listado-de-metas" width="100%" border=1>
          <tr>
            <td><b>LISTADO DE METAS</b></td>
          </tr>
          <tr>
            <td>Es el META número 0</td>
          </tr>
          <tr>
            <td>Es el META número 1</td>
          </tr>
          <tr>
            <td>Es el META número 2</td>
          </tr>
          <tr>
            <td>Es el META número 3</td>
          </tr>
          <tr>
            <td>Es el META número 4</td>
          </tr>
          <tr>
            <td>Es el META número 5</td>
          </tr>
          <tr>
            <td>Es el META número 6</td>
          </tr>
          <tr>
            <td>Es el META número 7</td>
          </tr>
          <tr>
            <td>Es el META número 8</td>
          </tr>
          <tr>
            <td>Es el META número 9</td>
          </tr>
          <tr>
        </table>
        < 1 2 3 4 5 >
        <table class="opciones" width="100%" border=1>
          <tr>
            <td><b>RECORDATORIOS</b></td>
          </tr>
          <tr>
            <td>Es el recordatorio número 0</td>
          </tr>
          <tr>
            <td>Es el recordatorio número 1</td>
          </tr>
          <tr>
            <td>Es el recordatorio número 2</td>
          </tr>
          <tr>
            <td>Es el recordatorio número 3</td>
          </tr>
          <tr>
            <td>Es el recordatorio número 4</td>
          </tr>
          <tr>
            <td>Es el recordatorio número 5</td>
          </tr>
          <tr>
            <td>Es el recordatorio número 6</td>
          </tr>
          <tr>
            <td>Es el recordatorio número 7</td>
          </tr>
          <tr>
            <td>Es el recordatorio número 8</td>
          </tr>
          <tr>
            <td>Es el recordatorio número 9</td>
          </tr>
          <tr>
        </table>
        < 1 2 3 >
      </div>
      <div class="contenedor-derecho">
        <table class="opciones" width="100%" border=1>
          <tr>
            <td><b>OPCIONES</b></td>
          </tr>
          <tr>
            <td>Crear meta</td>
          </tr>
          <tr>
            <td>Crear categoría</td>
          </tr>
          <tr>
            <td><b>FILTRAR METAS POR</b></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="titulo" value="1">título</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="descripcion" value="1">descripción</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="estado" value="1">estado</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="prioridad" value="1">prioridad</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="fecha_de_creacion" value="1">fecha de creación</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="fecha_de_modificacion" value="1">fecha de modificación</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="fecha_de_comienzo" value="1">fecha de comienzo</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="fecha_de_fin" value="1">fecha de fin</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="fecha_de_vencimiento" value="1">fecha de vencimiento</td>
          </tr>
          <tr>
            <td><b>AYUDA</b></td>
          </tr>
          <tr>
            <td>Acá va una breve desripción</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
