<html>
    <head>
        <meta charset="UTF-8">
        <title>Goal Set Track - Registro</title>
        Registro de usuario
    </head>
    <body>
        <h1>Ingrese los datos</h1>

        <form method="post" action=".">
        <p><label for="id_username">Nombre:</label>
        {{ form.username }}</p>
        <p><label for="id_email">Email:</label>
        {{ form.email }}</p>
        <p><label for="id_password">Contraseña:</label>
        {{ form.password }}</p>
        <input type="hidden" name="next" value="/" />
        <input type="submit" value="Regitrarse" />
        </form>
    </body>
</html>
