{% load staticfiles %}
<html>
  <head>
    <title>Crear Comentario</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={% static 'css/pagina_principal.css' %}>
  </head>
  <body>
    <div class="barra-principal">
      <ul>
    <li><a href="#logout">Logout</a></li>
<li><a  href="{% url 'editar_perfil' %}">Configuración</a></li>
      <li><a href="#buscar">Buscar</a><input type="text" name="buscar"></li>
      </ul>
    </div>
    <div class="contenedor-principal">
      <div class="contenedor-izquierdo">
        <table class="datos-meta" width="100%" border=1>
          <tr>
          {% block content %}
            <h1>Nuevo comentario</h1>
              <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Enviar</button>
              </form>
          {% endblock %}
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>

