{% load staticfiles %}
<html>
  <head>
    <title>Crear Comentario</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={% static 'css/pagina_principal.css' %}>
  </head>
  <body>
    <div class="barra-principal">
      <ul>
    <li><a href="#logout">Logout</a></li>
      <li><a href="#configuracion">Configuración</a></li>
      <li><a href="#buscar">Buscar</a><input type="text" name="buscar"></li>
      </ul>
    </div>
    <div class="contenedor-principal">
      <div class="contenedor-izquierdo">
        <table class="datos-meta" width="100%" border=1>
          <tr>
              <form name="ingresar texto" action="cometario/views.py" method="POST">
                Ingrese comentario: <input type="text" name="texto">
                <input name="Restablecer" type="reset" value="Enviar" onClick="history.back()">
              </form>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>

