{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Comentarios</h1>
<table class="table">
  {% for comentario in comentarios%}
  <tr>
    <td>{{ comentario.texto }}</td>
    <td>{{ comentario.fecha_creacion }}</td>
  </tr>
  <tr>
    <td>
      <a href="{% url 'editar_comentario_submeta' pk=comentario.pk %}"> Editar </a>
      <a href="{% url 'eliminar_comentario_submeta' pk=comentario.pk %}"> Eliminar </a>
    </td>
  </tr>
  {% empty %}
    <p>No hay metas.</p>
  {% endfor %}
</table>
{% endblock %}
{% block sidebar %}
<h4>Menu</h4>
<div class="list-group">
  <a href="/lista_de_metas" class="list-group-item">Listado de metas</a>
  <a href="{% url 'lista_archivos_submeta' pk=meta.pk %}" class="list-group-item">Ver archivos adjuntos</a>
</div>
<h4>Ayuda</h4>
<p> Aqui va una breve explicación de cada sección. El sidebar es modificable deacuerdo a cada sección.</p>
<h4>Buscar meta</h4>
<form action="filtrar_meta" method="post">
  {% csrf_token %} 
  <input type="text" id="titulo" value="titulo" style="width:100%;">
</form>
<br>
{% endblock %}


