{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Archivo Adjuntos</h1>
<table class="table">
{% for archivo in archivos%}
  <tr>
    <td>{{ archivo.titulo }} </td>
    <td>{{ archivo.tiempo_creacion }}</td>
    <td><a href="{% url 'eliminar_archivo' pk=archivo.pk %}">Eliminar</a></td>
  </tr>
{% empty %}
  <p>No hay Archivos adjuntos.</p>
{% endfor %}
</table>
{% endblock %}
{% block sidebar %}
<h4>Menu</h4>
<div class="list-group">
  <a href="/lista_de_metas" class="list-group-item">Listado de Metas</a>
</div>
<h4>Ayuda</h4>
<p> Aqui va una breve explicación de cada sección. El sidebar es modificable deacuerdo a cada sección.</p>
<h4>Buscar meta</h4>
<form action="filtrar_meta" method="post">
  {% csrf_token %} 
  <input type="text" id="titulo" value="titulo" style="width:100%;">
</form>
<br>
{% endblock %}