{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% if message %}
<div>
  {{ message }}
</div>
{% endif %}
<h3>Subir archivo</h3> 
<form  role="form"  enctype="multipart/form-data" action="" method="POST" id="subir_archivo"> 
  {% csrf_token %}
  <div class="form-group">
    {% for field in form %}
    <div>
      <label>{{ field.label }}</label>
    </div>
    <div>
      {{ field }}
    </div>
  {% endfor %}
  <br>
  <button type="submit" class="save btn btn-default">Subir</button>
  </div>
</form>
{% endblock %}
{% block sidebar %}
<h4>Menu</h4>
<div class="list-group">
  <a href="/lista_de_metas" class="list-group-item">Listado de Metas</a>
</div>
<h4>Ayuda</h4>
<p> Aqui va una breve explicación de cada sección. El sidebar es modificable deacuerdo a cada sección.</p>
<h4>Buscar meta</h4>
<form action="filtrar_meta" method="post">
  {% csrf_token %} 
  <input type="text" id="titulo" value="titulo" style="width:100%;">
</form>
<br>
{% endblock %}
